.base-cell {
    > li {
        position: relative;
        display: flex;
        width: 100%;
        min-height: 100px;
        padding: 30px;
        background-color: #fff;
        font-size: @size-font-26;
        &:not(:last-child) {
            .split-line();
        }
        &.not-line,
        &.spacing {
            &::before {
                border: 0;
            }
        }
        &.arrow {
            padding-right: 50px;
            &::before {
                content: "\e71a";
                position: absolute;
                right: 20px;
                font-size: @size-font-20;
                color: #999;
            }
        }
        &.spacing {
            margin-bottom: 20px;
        }
        .wrapper {
            display: inline-block;
            margin-right: 30px;
            .icon {
                margin-right: 20px;
                font-size: 40px;
                & + .title.important {
                    padding-left: 14px;
                    &::before {
                        left: 0;
                    }
                }
            }
            .title.important {
                position: relative;
                &::before {
                    .absolute(m);
                    left: -14px;
                    content: "*";
                    color: #f05a50;
                }
            }
        }
        .text {
            flex: 1;
            overflow: hidden;
            word-break: break-all;
            text-align: right;
            color: @color-font-4;
            > input.long {
                display: block;
                width: 100%;
            }
        }
    }

    &.radius > li {
        &:first-child,
        &.spacing + li {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        &:last-child,
        &.spacing {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }
    &.important > li {
        padding-left: 44px;
    }
}
