.base-checkbox {
    height: 28px;
    line-height: 28px;
    font-size: @size-font-26;
    color: @color-font-4;
    &::before {
        margin-right: 10px;
    }
    &.checked::before {
        color: @color-main;
    }
}